<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>dev.Sonor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sonor</string>
			</array>
		</dict>
	</array>
	<key>Privacy - Accessibility Usage Description</key>
	<string>Sonor requires accessibility permissions to detect your global dictation hotkeys and to seamlessly stream the transcribed text directly into your active text fields.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sonor requires Speech Recognition permissions to transcribe your audio when using the Apple Speech engine.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sonor requires microphone access to record your voice for transcription.</string>
</dict>
</plist>
